* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.content {
  width: 1200px;
  margin: 0 auto; }

.banner {
  height: 560px;
  background-color: #8feddd; }
 .tu{width: 1200px;
  	margin: 0 auto;
  }
  .banner .ban {
    height: 560px;}
  .banner .xuebi {
    position: fixed;
    right: 0;
    top: 480px; }

.store1_top {
  width: 1200px;
  position: relative; }
  .store1_top hr {
    width: 1000px;
    margin: 0 auto;
    margin-top: 75px; }
  .store1_top span {
    background-color: white;
    text-align: center;
    padding-bottom: 2px; }
  .store1_top .top_1 {
    width: 140px;
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    left: 530px;
    top: -15px; }
  .store1_top .top_2 {
    font-size: 12px;
    color: gray;
    position: absolute;
    left: 530px;
    top: 20px; }

.neirong {
  width: 1124px;
  margin: 0 auto;
  margin-top: 90px; }
  .neirong .store_1 {
    border-bottom: 1px dashed gray; }
    .neirong .store_1 .left1 {
      width: 438px;
      height: 340px;
      float: left;
      margin-left: 56px; }
    .neirong .store_1 .right1 {
      width: 438px;
      height: 340px;
      float: right;
      margin-right: 56px; }
      .neirong .store_1 .right1 .right_s {
        font-size: 30px;
        text-align: center;
        padding: 60px  60px 0; }
      .neirong .store_1 .right1 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_1 .right1 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
  .neirong .store_2 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_2 .left2 {
      width: 438px;
      height: 440px;
      float: left;
      margin-left: 56px; }
      .neirong .store_2 .left2 .right_s {
        font-size: 30px;
        padding: 160px  60px 0; }
      .neirong .store_2 .left2 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_2 .left2 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
    .neirong .store_2 .right2 {
      width: 438px;
      height: 440px;
      float: right;
      text-align: center;
      margin-right: 56px; }
      .neirong .store_2 .right2 img {
        margin-top: 60px; }
  .neirong .store_3 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_3 .left3 {
      width: 438px;
      height: 338px;
      float: left;
      margin-left: 56px; }
      .neirong .store_3 .left3 img {
        height: 338px; }
    .neirong .store_3 .right3 {
      width: 438px;
      height: 340px;
      float: right;
      margin-right: 56px; }
      .neirong .store_3 .right3 .right_s {
        font-size: 30px;
        padding: 75px  0px 0;
        text-align: center; }
      .neirong .store_3 .right3 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_3 .right3 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
      .neirong .store_3 .right3 .right_xx {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
  .neirong .store_4 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_4 .left4 {
      width: 438px;
      height: 390px;
      float: left;
      margin-left: 56px; }
      .neirong .store_4 .left4 .right_s {
        font-size: 30px;
        text-align: center;
        padding: 70px  60px 0; }
      .neirong .store_4 .left4 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_4 .left4 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
      .neirong .store_4 .left4 .right_x1 {
        font-size: 20px;
        color: gray;
        padding-top: 20px; }
      .neirong .store_4 .left4 .right_x2 {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
    .neirong .store_4 .right4 {
      width: 438px;
      height: 388px;
      float: right;
      text-align: center;
      margin-right: 56px; }
      .neirong .store_4 .right4 img {
        height: 388px; }
  .neirong .store_5 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_5 .left5 {
      width: 438px;
      height: 390px;
      float: left;
      margin-left: 56px; }
    .neirong .store_5 .right5 {
      width: 440px;
      height: 390px;
      float: right;
      margin-right: 56px; }
      .neirong .store_5 .right5 .right_s {
        font-size: 30px;
        padding: 122px 60px 0;
        text-align: center; }
      .neirong .store_5 .right5 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_5 .right5 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
  .neirong .store_6 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_6 .left6 {
      width: 440px;
      height: 390px;
      float: left;
      margin-left: 56px; }
      .neirong .store_6 .left6 .right_s {
        font-size: 30px;
        padding: 100px  60px 0;
        text-align: center; }
      .neirong .store_6 .left6 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_6 .left6 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
    .neirong .store_6 .right6 {
      width: 438px;
      height: 390px;
      float: right;
      text-align: center;
      margin-right: 56px; }
  .neirong .store_7 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_7 .left7 {
      width: 438px;
      height: 388px;
      float: left;
      margin-left: 56px; }
      .neirong .store_7 .left7 img {
        height: 385px; }
    .neirong .store_7 .right7 {
      width: 438px;
      height: 390px;
      float: right;
      margin-right: 56px; }
      .neirong .store_7 .right7 .right_s {
        text-align: center;
        font-size: 30px;
        padding: 100px  60px 0; }
      .neirong .store_7 .right7 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_7 .right7 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
      .neirong .store_7 .right7 .right_xx {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
  .neirong .store_8 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_8 .left8 {
      width: 440px;
      height: 400px;
      float: left;
      margin-left: 56px; }
      .neirong .store_8 .left8 .right_s {
        text-align: center;
        font-size: 30px;
        padding: 105px  0px 0; }
      .neirong .store_8 .left8 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_8 .left8 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
    .neirong .store_8 .right8 {
      width: 438px;
      height: 400px;
      float: right;
      text-align: center;
      margin-right: 56px; }
  .neirong .store_9 {
    border-bottom: 1px dashed gray;
    margin-top: 2px; }
    .neirong .store_9 .left9 {
      width: 438px;
      height: 450px;
      float: left;
      margin-left: 56px;
      text-align: center; }
    .neirong .store_9 .right9 {
      width: 438px;
      height: 450px;
      float: right;
      margin-right: 56px; }
      .neirong .store_9 .right9 .right_s {
        text-align: center;
        font-size: 30px;
        padding: 150px  60px 0; }
      .neirong .store_9 .right9 .right_z {
        font-size: 20px;
        color: gray;
        padding-top: 45px; }
      .neirong .store_9 .right9 .right_x {
        font-size: 20px;
        color: gray;
        padding-top: 10px; }
  .neirong .mianfei {
    height: 55px;
    width: 180px;
    border: 2px solid #fe982d;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 136px;
    border-radius: 5px;
    text-align: center;
    position: relative; }
    .neirong .mianfei a {
      font-size: 20px;
      color: #fe982d;
      line-height: 55px;
      padding-left: 60px 10px 60px 10px; }
    .neirong .mianfei img {
      position: absolute;
      top: -18px;
      left: 147px; }

/*# sourceMappingURL=store1.css.map */



